# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.safari.iml
# Datasource local storage ignored files
/../../../../../../../../:\projects\c#\safari\safari\.idea\.idea.safari\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
